.App {
  text-align: center;
}
.cardcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.playercard {
  width: 200px;
  height: 150px;

  border: solid 1px black;
  margin: 10px;
}
.United {
  background-image: linear-gradient(135deg, blue, white, red);
}
.Brazil {
  background-image: linear-gradient(to right, green, yellow, blue);
}
.France {
  background-image: linear-gradient(to right, blue, white, red);
}
.Sweden {
  background-image: linear-gradient(to right, blue, gold);
}
.Netherlands {
  background-image: linear-gradient(red, white, blue);
}
.Australia {
  background-image: linear-gradient(135deg, red, white, blue);
}
.England {
  background-image: linear-gradient(red, white);
}
.Chile {
  background-image: linear-gradient(to right, blue, white, red);
}
.Italy {
  background-image: linear-gradient(to right, green, white, red);
}
.Germany {
  background-image: linear-gradient(black, red, gold);
}
.Canada {
  background-image: linear-gradient(to right, red, white, red, white, red);
}
.Spain {
  background-image: linear-gradient(red, gold, red);
}
.Norway {
  background-image: radial-gradient(blue, white, red);
}
.Argentina {
  background-image: linear-gradient(lightblue, white, lightblue);
}
